body {
  box-sizing: border-box;
  font-family: system-ui;
  background-color: #AAA;
}

h1{
  text-align: center;
}

#movie_columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (width < 600px){
#movie_columns {
  display: block;
  }
}

img{
  max-width: 75%;
}

article {
  flex-basis: 30%;
  background-color: white;
  text-align: center;
  margin-bottom: 30px;
}

img{
  box-shadow: 10px 10px #ccc;
}